# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Environment Variables
.env
.env*.local
.env.development
.env.test
.env.production

# Database
*.db
*.sqlite
*.sqlite3

# Prisma
prisma/*.db
prisma/migrations/

# IDE
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.vercel
.env*.local

# csv files
prisma/data

# batch import test file
example.csv