//jevanluo.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.5044374a-f857-4552-9a8c-3a9cabab2835/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@scholars-website:registry=https://jevanluo.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.5044374a-f857-4552-9a8c-3a9cabab2835/contents/release/npm